button {
    padding: 12px 25px;
    font-size: 18px;
   
    border-radius: 30px;
    color: #000000;

}

input {
    font-size: 18px;
    padding: 12px 25px;
    border: 2px dashed;
    border-radius: 30px;

}

p {
    font-size: 38px;
}